:host {
  display: block;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(30px, 50px);
  }
}
